.App {
  text-align: center;
  padding:30px;
}
.progress-container {
  display: flex;
  border: 1px solid green;
  padding: 0px;
  border-radius: 30px;
  overflow: hidden;
  align-items: center;
  text-align: center;
  height: 20px;
  position: relative;
}
.fill-color {
  overflow: hidden;
  background-color: green;
  transition: ease-in-out;
}

.progress-text {
  position: absolute;
  left: 0;
  right: 0;
}
